
$fs : 18px;
$ff : Lato, sans-serif;

.white {
  color: #fff;
}

.grey {
  color: #808080;
}

.red {
  color: #ff0000;
}

body {
  width: 100%;
  margin: 0 auto;
  font-size: $fs;
  font-family: $ff;
}

.simple {
  height: 100%;
  background: url("../img/simple-bg.png") top center no-repeat;
}

.main-header {
  width: 100%;
  padding: 41px 200px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  h1 {
    display: none;
  }
}

.main-nav {
  width: 413px;
  display: flex;
  justify-content: space-around;
  a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      text-decoration: line-through;
    }
  }
}

.menubtn {
  display: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.simple_article {
  h2 {
    width: 413px;
    font-size: $fs*4;
    padding: 95px 0 43px;
  }
  p{
    width: 554px;
    font-size: 24px;
    padding-bottom: 100px;
    span {
      font-weight: bold;
    }
  }
  a {
    text-align: center;
    text-decoration: none;
    color: #f42f39;
    p {
      width: 225px;
      padding: 17px 52px;
      background-color: #fff;
      text-decoration: none;
      border-radius: 25px;
    }
  }
}

.phone {
  width: 480px;
  height: 820px;
  background-image: url('../img/i-phone-7-silver.png');
}

.easy-messaging {
  display: flex;
  justify-content: space-around;
  .img-wrapper {
    display: flex;
    justify-content: flex-end;
  }
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
  margin-top: 60px;
  margin-left: 200px;
}

.art-style {
  width: 557px;
  padding-top: 220px;
  p {
    line-height: 32px;
  }
}

.header3{
  padding-bottom: 40px;
  font-size: $fs+42px;
  font-weight: bold;
}

.kit {
  @extend .easy-messaging;
}

.pos-abs-r {
  @extend .pos-abs;
  margin: 0;
}

.pos-rel-r {
  @extend .pos-rel;
  margin-right: 140px;
  margin-top: 70px;
}

.container-wrap {
  @extend  .container;
  flex-wrap: wrap;
  justify-content: center;
}

.wps {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e0e0e0;
  .comments-list {
    padding: 90px 0 240px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .comments {
      width: 370px;
    }
  }
}

.quote-comments {
  padding-bottom: 25px;
  border: 1px solid rgba(0,0,0,0.1);
  position: relative;
  &:hover {
    margin-top: -40px;
    box-shadow: 0 30px 60px 0 rgba(54, 54, 54, 0.15);
    border: none;
    cursor: pointer;
  }
  &::before, &::after {
    content: '';
    position: absolute;
    left: 20px; bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid rgba(0,0,0,0.1);
  }
  &::after {
    border-top: 10px solid white;
    bottom: -16px;
  }
  .comments-text {
    padding: 28px 57px 26px 30px;
    line-height: 32px;
    font-style: italic;
  }
}

cite {
  padding-left: 30px;
  .comment-link {
    padding-bottom: 30px;
    text-decoration: none;
    color: #f42f39;
  }
}

.avatar-comments {
  padding-top: 30px;
  display: flex;
  .avatar{
    border-radius: 30px;
  }
  .avatar-description {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      text-transform: uppercase;
    }
  }
}

.function {
  background: linear-gradient(to top, #eb402c, #d90647) center no-repeat;
  background-size: cover;
  position: relative;
}

.functionlist {
  padding: 100px 0 50px;
  display: flex;
  flex-direction: column;
}

.iphone {
  width: 416px;
  height: 690px;
  margin-top: -88px;
  margin-left: -208px;
  background-image: url(../img/i-phone-7-silver-1-copy.png);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
}

.functionitem {
  display: flex;
  line-height: 40px;
}

.functionitemtext {
  width: 260px;
  padding-bottom: 60px;
  &__header {
    font-size: $fs+4px;
    color: #fff;
    font-weight: bold;
  }
  &__info {
    color: rgba(255, 255, 255, 0.6);
    line-height: 28px;
  }
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.subscribe {
  padding: 230px 0 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.information {
  padding-bottom: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__header {
    padding-bottom: 50px;
    font-size: $fs+42px;
    font-weight: bold;
  }
  &__link {
    padding-bottom: 60px;
    &-padding {
      padding: 60px 0 0;
    }
  }
}

.form {
  display: flex;
  justify-content: center;
  &__text{
    width: 530px;
    height: 50px;
    padding-left: 30px;
    border: 1px transparent;
    border-radius: 25px;
    font-size: $fs;
    position: relative;
    box-sizing: border-box;
    outline: none;
    background-color: #f8f8f8;
  }

  &__btn {
    width: 180px;
    height: 50px;
    margin-left: -100px;
    background-image: linear-gradient(to top, #eb402c, #d90647);
    border: 1px solid;
    border-radius: 24px;
    color: #fff;
    font-size: $fs;
    outline: none;
    z-index: 99;
    cursor: pointer;
  }
}

.flex-direction {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.download {
  padding: 100px 0 80px;
  border-top: 1px solid #e0e0e0;
}

.main-footer {
  padding: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e0e0e0;
}

.navlist {
  width: 585px;
  padding: 45px 0 40px;
  display: flex;
  justify-content: space-around;
  &__item {
    color: #363636;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.select_btn {
  @extend .form__text;
  width: 200px;
  height: 50px;
  color: #363636;
}

.svgicon_left{
  width: 52px;
  height: 48px;
  padding-left: 20px;
  fill: transparent;
  stroke: #fff;
  stroke-width: 2;
}

.svgicon_right {
  @extend .svgicon_left;
  padding-right: 20px;
}

@import "_mobile-responsive.scss";







