.white {
  color: #fff; }

.grey {
  color: #808080; }

.red {
  color: #ff0000; }

body {
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  font-family: Lato, sans-serif; }

.simple {
  height: 100%;
  background: url("../img/simple-bg.png") top center no-repeat; }

.main-header {
  width: 100%;
  padding: 41px 200px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box; }
  .main-header h1 {
    display: none; }

.main-nav {
  width: 413px;
  display: flex;
  justify-content: space-around; }
  .main-nav a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none; }
    .main-nav a:hover {
      text-decoration: line-through; }

.menubtn {
  display: none; }

.container, .container-wrap {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.simple_article h2 {
  width: 413px;
  font-size: 72px;
  padding: 95px 0 43px; }

.simple_article p {
  width: 554px;
  font-size: 24px;
  padding-bottom: 100px; }
  .simple_article p span {
    font-weight: bold; }

.simple_article a {
  text-align: center;
  text-decoration: none;
  color: #f42f39; }
  .simple_article a p {
    width: 225px;
    padding: 17px 52px;
    background-color: #fff;
    text-decoration: none;
    border-radius: 25px; }

.phone {
  width: 480px;
  height: 820px;
  background-image: url("../img/i-phone-7-silver.png"); }

.easy-messaging, .kit {
  display: flex;
  justify-content: space-around; }
  .easy-messaging .img-wrapper, .kit .img-wrapper {
    display: flex;
    justify-content: flex-end; }

.pos-rel, .pos-rel-r {
  position: relative; }

.pos-abs, .pos-abs-r {
  position: absolute;
  margin-top: 60px;
  margin-left: 200px; }

.art-style {
  width: 557px;
  padding-top: 220px; }
  .art-style p {
    line-height: 32px; }

.header3 {
  padding-bottom: 40px;
  font-size: 60px;
  font-weight: bold; }

.pos-abs-r {
  margin: 0; }

.pos-rel-r {
  margin-right: 140px;
  margin-top: 70px; }

.container-wrap {
  flex-wrap: wrap;
  justify-content: center; }

.wps {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e0e0e0; }
  .wps .comments-list {
    padding: 90px 0 240px;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .wps .comments-list .comments {
      width: 370px; }

.quote-comments {
  padding-bottom: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative; }
  .quote-comments:hover {
    margin-top: -40px;
    box-shadow: 0 30px 60px 0 rgba(54, 54, 54, 0.15);
    border: none;
    cursor: pointer; }
  .quote-comments::before, .quote-comments::after {
    content: '';
    position: absolute;
    left: 20px;
    bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid rgba(0, 0, 0, 0.1); }
  .quote-comments::after {
    border-top: 10px solid white;
    bottom: -16px; }
  .quote-comments .comments-text {
    padding: 28px 57px 26px 30px;
    line-height: 32px;
    font-style: italic; }

cite {
  padding-left: 30px; }
  cite .comment-link {
    padding-bottom: 30px;
    text-decoration: none;
    color: #f42f39; }

.avatar-comments {
  padding-top: 30px;
  display: flex; }
  .avatar-comments .avatar {
    border-radius: 30px; }
  .avatar-comments .avatar-description {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .avatar-comments .avatar-description p {
      text-transform: uppercase; }

.function {
  background: linear-gradient(to top, #eb402c, #d90647) center no-repeat;
  background-size: cover;
  position: relative; }

.functionlist {
  padding: 100px 0 50px;
  display: flex;
  flex-direction: column; }

.iphone {
  width: 416px;
  height: 690px;
  margin-top: -88px;
  margin-left: -208px;
  background-image: url(../img/i-phone-7-silver-1-copy.png);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%; }

.functionitem {
  display: flex;
  line-height: 40px; }

.functionitemtext {
  width: 260px;
  padding-bottom: 60px; }
  .functionitemtext__header {
    font-size: 22px;
    color: #fff;
    font-weight: bold; }
  .functionitemtext__info {
    color: rgba(255, 255, 255, 0.6);
    line-height: 28px; }

.text-align-right {
  text-align: right; }

.text-align-left {
  text-align: left; }

.subscribe {
  padding: 230px 0 150px;
  display: flex;
  align-items: center;
  justify-content: center; }

.information {
  padding-bottom: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .information__header {
    padding-bottom: 50px;
    font-size: 60px;
    font-weight: bold; }
  .information__link {
    padding-bottom: 60px; }
    .information__link-padding {
      padding: 60px 0 0; }

.form {
  display: flex;
  justify-content: center; }
  .form__text, .select_btn {
    width: 530px;
    height: 50px;
    padding-left: 30px;
    border: 1px transparent;
    border-radius: 25px;
    font-size: 18px;
    position: relative;
    box-sizing: border-box;
    outline: none;
    background-color: #f8f8f8; }
  .form__btn {
    width: 180px;
    height: 50px;
    margin-left: -100px;
    background-image: linear-gradient(to top, #eb402c, #d90647);
    border: 1px solid;
    border-radius: 24px;
    color: #fff;
    font-size: 18px;
    outline: none;
    z-index: 99;
    cursor: pointer; }

.flex-direction {
  width: 100%;
  flex-direction: column;
  align-items: center; }

.download {
  padding: 100px 0 80px;
  border-top: 1px solid #e0e0e0; }

.main-footer {
  padding: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e0e0e0; }

.navlist {
  width: 585px;
  padding: 45px 0 40px;
  display: flex;
  justify-content: space-around; }
  .navlist__item {
    color: #363636;
    text-transform: uppercase;
    text-decoration: none; }

.select_btn {
  width: 200px;
  height: 50px;
  color: #363636; }

.svgicon_left, .svgicon_right {
  width: 52px;
  height: 48px;
  padding-left: 20px;
  fill: transparent;
  stroke: #fff;
  stroke-width: 2; }

.svgicon_right {
  padding-right: 20px; }

@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column; }
  .simple {
    display: flex;
    flex-direction: column; }
  .main-header {
    padding: 20px 0 50px;
    justify-content: space-around; }
  .logo {
    display: flex;
    justify-content: center; }
  .main-nav {
    display: none; }
  .menubtn {
    width: 20%;
    display: block;
    text-align: center; }
    .menubtn:hover .menubtn__list {
      width: 20%;
      display: block;
      position: absolute;
      background-color: #808080;
      border-radius: 20px; }
      .menubtn:hover .menubtn__list .menubtn__item {
        padding: 20px;
        text-align: center; }
      .menubtn:hover .menubtn__list .menubtn__link {
        padding-bottom: 20px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none; }
  .menubtn__icon {
    fill: #fff; }
  .menubtn__list {
    display: none; }
  .container, .container-wrap {
    width: 90%;
    flex-direction: column;
    align-items: center; }
  .simple_article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .simple_article h2 {
      font-size: 40px;
      padding: 15px 0 40px; }
    .simple_article p {
      width: 100%;
      padding-bottom: 50px; }
  .phone {
    margin-top: 100px; }
  .easy-messaging .img-wrapper, .kit .img-wrapper {
    margin-right: 110px;
    display: flex;
    order: 1; }
  .easy-messaging .art-style, .kit .art-style {
    width: 500px;
    padding: 75px 0 30px;
    order: 0; }
  .wps .comments-list {
    padding: 30px 0 140px;
    flex-direction: column;
    align-items: center; }
    .wps .comments-list .comments {
      padding-bottom: 60px; }
  .functionlist {
    padding: 0;
    text-align: left; }
  .functionitemtext {
    padding-left: 40px;
    order: 1; }
  .iphone {
    order: -1;
    margin: 60px 0 60px;
    position: inherit; }
  .subscribe {
    padding: 130px 0 110px; }
  .wrapper {
    width: 100%; }
  .information__header {
    text-align: center; }
  .download {
    padding: 80px 0 40px; }
  .main-footer {
    display: none; } }

@media (max-width: 480px) {
  .simple {
    padding: 10px 0 90px; }
  .main-header {
    padding: 50px 0 50px; }
  .menubtn {
    width: 30%; }
    .menubtn:hover .menubtn__list {
      width: 30%; }
  .simple_article {
    width: 90%; }
    .simple_article h2 {
      width: 100%;
      font-size: 50px;
      padding: 50px 0 80px; }
    .simple_article p {
      padding-bottom: 80px;
      font-size: 30px; }
    .simple_article a {
      padding-bottom: 100px; }
      .simple_article a p {
        padding: 17px 40px; }
  .phone {
    display: none; }
  .easy-messaging .img-wrapper, .kit .img-wrapper {
    display: none; }
  .easy-messaging .art-style, .kit .art-style {
    width: 100%;
    padding: 45px 0 30px;
    text-align: center; }
  .wps .comments-list {
    padding: 30px 0 60px; }
    .wps .comments-list .comments {
      width: 100%; }
  .header3 {
    text-align: center; }
  .function {
    padding-top: 60px; }
  .functionlist-left, .functionlist-right {
    width: 100%; }
  .iphone {
    display: none; }
  .subscribe {
    padding: 130px 0 110px; }
  .information__header {
    text-align: center; }
  .information__info {
    line-height: 32px;
    text-align: center; } }
